<nav>
  <img src="/media/menu_mobile.svg" alt="Menu" id="menu">
</nav>

<section id="header-cadastro-finalizado">
  <div class="header-cadastro-finalizado-content">
    <div class="logo">
      <img src="/media/logo.svg" alt="Logo">
    </div>
    <h2>
      Eu preciso de uma escola...
    </h2>
  </div>
  <form action="/busca" method="GET">
    <input type="text" name="q" placeholder="Digite o nome da Escola" style="border: 1px solid grey; width: 100%;">
  </form>
</section>
<section id="search-results">
  {{#each data}}
      {{> escola this}}
  {{/each}}
</section>