<section id="header-busca">
  <div class="header-busca-info">
    {{!-- <div class="logo">
      <img src="/media/logo.svg" alt="Logo" onclick="window.location.href='/'">
    </div> --}}
    <h1>
      Pesquise sua Escola
    </h1>
    <form action="/busca" method="GET" class="form-busca">
      <input type="text" name="q" placeholder="Digite o nome da Escola">
      <button type="submit" class="button-busca">Pesquisar</button>
    </form>
  </div>
</section>
<section id="search-results">
  {{#if data}}
  {{#each data}}
      {{> escola this}}
  {{/each}}
  {{else}}
  <img src="/media/busca.svg" alt="Busca">
  {{/if}}
</section>