<nav>
  <img src="/media/menu_mobile.svg" alt="Menu" id="menu">
</nav>

<section id="header-cadastro-usuario">
  <div class="header-cadastro-usuario-info">
    <div class="logo">
      <img src="/media/logo.svg" alt="Logo">
    </div>
    <h2>
      Cadastro
    </h2>
    <p>
      Informações básicas
    </p>
  </div>
</section>
<section id="cadastro-usuario-form">
  <form action="/cadastro/create" method="POST" class="form">
    <input type="text" placeholder="E-mail" name="email">
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <p>Data de Nascimento</p>
    <div class="data-cadastro-usuario">
      <input type="number" name="dataDia">
      <input type="number" name="dataMes">
      <input type="number" name="dataAno">
    </div>
    <label class="direitos">Eu concordo com a política de direitos reservados do site
      <input type="checkbox" name="termos">
      <span class="checkmark"></span>
    </label>
    <button type="submit">Cadastrar</button>
  </form>
</section>