<nav>
  <img src="/media/menu_mobile.svg" alt="Menu" id="menu">
</nav>

<section id="header-cadastro-escola">
  <div class="header-cadastro-escola-info">
    <div class="logo">
      <img src="/media/logo.svg" alt="Logo">
    </div>
    <h2>
      Cadastro
    </h2>
    <p>
      Informações básicas
    </p>
  </div>
</section>
<section id="cadastro-escola-form">
  <form action="post" class="form">
    <input type="text" placeholder="CNPJ">
    <input type="text" placeholder="Nome da Instituição">
    <input type="number" placeholder="CEP">
    <input type="text" placeholder="Endereço">
    <input type="text" placeholder="Bairro">
    <input type="text" placeholder="Número">
    <input type="text" placeholder="Cidade">
    <input type="text" placeholder="Estado">
    <p>Sobre a Instituição</p>
    <label for="proposta">Nossa proposta de ensino é:</label>
    <select class="form-control" id="proposta">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <label for="mensalidade">Mensalidade varia entre:</label>
    <select class="form-control" id="mensalidade">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <label for="religiao">Defendemos alguma religião:</label>
    <select class="form-control" id="religiao">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <label for="projetos">Projetos sociais com os pais:</label>
    <select class="form-control" id="projetos">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <label for="tecnologia">Sobre tecnologia:</label>
    <select class="form-control" id="tecnologia">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <label class="direitos">Gostaria de receber notícias do Ensinow!
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="direitos">Eu concordo com a política de direitos reservados do site
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <button type="submit">Cadastrar</button>
  </form>
</section>