<section id="header-cadastro-usuario">
  <div class="header-cadastro-usuario-info">
    {{!-- <div class="logo">
      <img src="/media/logo.svg" alt="Logo" onclick="window.location.href='/'">
    </div> --}}
    <h2>
      Cadastro
    </h2>
    <p>
      Informações básicas
    </p>
  </div>
</section>
<section id="cadastro-usuario-form">
  {{#if message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{!-- <div class="error-message">{{ message }}</div> --}}
  {{/if}}
  <form action="/cadastro-usuario/create" method="POST" class="form" id="cadastro-form-usuario">
    <input type="text" placeholder="E-mail" name="email">
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <input type="password" placeholder="Senha" name="senha">
    <input type="password" placeholder="Redigitar Senha" name="redigitar">
    <p>Data de Nascimento</p>
    <div class="data-cadastro-usuario">
      <input type="number" name="dataDia" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="2">
      <input type="number" name="dataMes" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="2">
      <input type="number" name="dataAno" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4">
    </div>
    <label class="direitos">Eu concordo com a política de direitos reservados do site
      <input type="checkbox" name="termos">
      <span class="checkmark"></span>
    </label>
    <input type="submit">
  </form>
</section>