<section id="header-cadastro-finalizado">
  <div class="header-cadastro-finalizado-content">
    {{!-- <div class="logo">
      <img src="/media/logo.svg" alt="Logo" onclick="window.location.href='/'">
    </div> --}}
    <h2>
      Cadastro com Sucesso!
    </h2>
    <p>Para começar a pesquisar sobre as escolas é só clicar no botão abaixo!</p>
    <button class="busca"  onclick="window.location.href='/busca'">Começar a Pesquisar</button>
    <a href="/duvidas">Tenho dúvidas!</a>
  </div>
</section>