<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>

  </head>

  <body>

    <section class="header">
      <svg class="logo">
          Logo
      </svg>
      <nav>
        Fazer o cadastro
        Dúvidas
      </nav>
      <h1>
        Conheça e escolha a melhor escola para os seus filhos.
      </h1>
      <a class="button" href="#">
       <div class="content">Entrar</div>
      </a>

    </section>
  
  <section class="features">
    <div class="mainFeature">
      <h2>
        Conheça as escolas, saiba quanto irá investir e o que o seu filho irá desenvolver para o futuro.
      </h2>

    </div>

    <div class="feature1">
      <svg>Icon1</svg>
      <p>Mensalidade e o custo do material didático.</p>

      <svg>Icon2</svg>
      <p>Qual a filosofia do colégio ou se possui alguma religião.</p>

      <svg>Icon3</svg>
      <p>Como será o desenvolvimento da criança.</p>


    </div>

  </section>

  <section class="carrousel">
    <h2>
      ‘’Sem dúvida, uma ferramenta essencial para a vida de todos os pais.’’
    </h2>
    <h4>
      Márcia Teixeira, 25 anos
    </h4>

  </section>

  <section class="benefits">
    <h2>
      Benefícios da ferramenta
    </h2>

    <ul>
      <li>Conheça a escola que você está prestes a conhecer.</li>
      <li>Antecipe informações e já entenda o que a instituição pode te oferecer.</li>
      <li>Veja as avaliações de pais que estão ou já matricularam seus filhos nas escolas selecionadas.</li>
    </ul>

  </section>

  <section class="calltoaction">
    <a class="button" href="#">
      <div class="content">Entrar</div>
    </a>

    <a class="pesquisar">
      <div class="content">Pesquisar</div>
    </a>

  </section>

  <footer>
    Footer
  </footer>
  
  </body>
</html> 