{{!-- <div class="logo">
  <img src="/media/logo.svg" alt="Logo" onclick="window.location.href='/'">
</div> --}}

<section id="header">
  <div class="header">
    <div class="header-info">
      <h1>
        Conheça e escolha a melhor escola para os seus filhos.
      </h1>

      {{#if user.email}}
      <button onclick="window.location.href='/busca'" class="cta1" type="button">Pesquisar</button>
      {{else}}
      <button onclick="window.location.href='/login-usuario'" class="cta1" type="button">Entrar</button>
      <button onclick="window.location.href='/cadastro-usuario'" class="cta2" type="button">Cadastrar</button>
      {{/if}}
    </div>
    <div class="header-img">
      <img src="/media/big-cell.svg" alt="Big Cell">
    </div>
  </div>
</section>

<section id="mainFeature">
  <div class="container-mobile">
    <h2>
      Conheça as escolas, saiba quanto irá investir e o que o seu filho irá desenvolver para o futuro.
    </h2>
    <div class="features">
      <div class="feature red">
        <img src="/media/cifrao.svg" class="feature-icon">
        <p class="feature-text">Mensalidade e o custo do material didático.</p>
      </div>
      <div class="feature green">
        <img src="/media/luneta.svg" class="feature-icon">
        <p class="feature-text">Qual a filosofia do colégio ou se possui alguma religião.</p>
      </div>
      <div class="feature grey">
        <img src="/media/maos.svg" class="feature-icon">
        <p class="feature-text">Como será o desenvolvimento da criança.</p>
      </div>
    </div>
  </div>
</section>

<section id="statement-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h2>
        ‘’Sem dúvida, uma ferramenta essencial para a vida de todos os pais.’’
      </h2>
      <h4>
        Márcia Teixeira, 25 anos
      </h4>
    </div>
    <div class="carousel-item">
      <h2>
        ‘’Sem dúvida, uma ferramenta essencial para a vida de todos os pais.’’
      </h2>
      <h4>
        Márcia Teixeira, 25 anos
      </h4>
    </div>
    <div class="carousel-item">
      <h2>
        ‘’Sem dúvida, uma ferramenta essencial para a vida de todos os pais.’’
      </h2>
      <h4>
        Márcia Teixeira, 25 anos
      </h4>
    </div>
  </div>
  <a class="carousel-control-prev" href="#statement-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#statement-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>

<section id="benefits">
  <h2>
    Benefícios da ferramenta
  </h2>
  <ul class="benefits-list container-mobile">
    <li class="benefits-item">• Conheça a escola que você está prestes a conhecer.</li>
    <li class="benefits-item">• Antecipe informações e já entenda o que a instituição pode te oferecer.</li>
    <li class="benefits-item">• Veja as avaliações de pais que estão ou já matricularam seus filhos nas escolas selecionadas.</li>
  </ul>
</section>

<section id="calltoaction">
  <div class="container-mobile buttons-flex">
    <a class="button-link" href="/busca">
      <div class="button-search">Pesquisar</div>
    </a>
  </div>
</section>