{{!-- <div class="logo">
  <img src="/media/logo.svg" alt="Logo" onclick="window.location.href='/'">
</div> --}}

<section id="header-login">
  <div class="header-login-info">
    <h1>
      Conheça e escolha a melhor escola para os seus filhos.
    </h1>
  </div>
  <div id="form">
    <form action="/login/escola" class="form" method="POST">
      <input type="text" placeholder="Seu e-mail" name="email">
      <input type="password" placeholder="Senha" name="senha">
      <div class="login-buttons">
        <button type="submit">Entrar</button>
        <a href="/pre-cadastro">Me cadastrar</a>
      </div>
    </form>
    <div class="login-social">
      <a href="">Esqueceu sua senha?</a>
    </d iv>
  </div>
</section>

