<nav>
  <img src="/media/menu_mobile.svg" alt="Menu" id="menu">
</nav>

<section id="header-login">
  <div class="header-login-info">
    <div class="logo">
      <img src="/media/logo.svg" alt="Logo">
    </div>
    <h1>
      Conheça e escolha a melhor escola para os seus filhos.
    </h1>
  </div>
</section>

<section id="form">
  <form action="/login/escola" class="form" method="POST">
    <input type="text" placeholder="Seu e-mail">
    <input type="text" placeholder="Senha">
    <div class="login-buttons">
      <button type="submit">Entrar</button>
      <a href="/pre-cadastro">Me cadastrar</a>
    </div>
  </form>
  <div class="login-social">
    <button>Entrar com Google</button>
    <button>Entrar com Facebook</button>
    <a href="">Esqueceu sua senha?</a>
  </div>
</section>