<nav>
  <img src="/media/menu_mobile.svg" alt="Menu" id="menu">
</nav>

<section id="header-pre-cadastro">
  <div class="header-pre-cadastro-content">
    <div class="logo">
      <img src="/media/logo.svg" alt="Logo">
    </div>
    <h1>
      Mas antes...
    </h1>
    <div class="pre-cadastro-buttons">
      <button href="/cadastro-escola" class="pre-cadastro-usuario">Procuro umas escola</br> para meu(s) filho(s)</button>
      <button href="cadastro-usuario" class="pre-cadastro-escola">Sou uma escola / instituição</button>
      <a href="/duvidas">Tenho dúvidas!</a>
    </div>
  </div>
</section>