@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/*Presets*/

/*Main Colors - app*/
.colors {
    color:#FFB806;
    color:#3DA547;
    color:#3974D4;
    color:#606060;
    color:#C4C4C4;
}

/*Headline(h1_Title)*/
h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
}

/*Medium Headlines(h2_medium)*/
h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 1%;
}

/*Texts(<p>)*/
p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

/*Button Font(Fonte dos botões)*/
.buttonfont {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

/*Filter Font(Fonte dos filtros)*/
.filterfont {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

/*Filter Font(h4)*/
h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

/*found item(Fonte da escola achada)*/
h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
}



/*Home*/
nav {
    position: absolute;

}

.header {
    background-color: #3974D4;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;     
    height: 400px;
}

.logo {
    padding: 10px;
    background-image: url("/public/media/logo.svg");
}

.header > h1 {
    align-self: center;
    margin-left: 6%;
}

.cta1 {
    background-color: #FFB806;    align-self: center;
    align-self: center;
    border-radius: 20px;
    margin-left: 6%;
    width: 80px;
    height: 60px;
	text-align: center;
}

.cta1 > a {
    border: 1px solid red;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
}

/*Features*/
.mainFeature {

}


    




