@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/*Presets*/

* {
    padding: 0;
    margin: 0;
}

/*Main Colors - app*/
:root {
    --canary: #FFB806;
    --green:#73F268;
    --blue:#3974D4;
    --hard-grey:#606060;
    --soft-grey:#C4C4C4;
}

/*Headline(h1_Title)*/
h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
}

/*Medium Headlines(h2_medium)*/
h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

/*Texts(<p>)*/
p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    align-items: center;
}

input {
    font-family: Nunito;
}

button {
    font-family: Nunito;
}

a {
    font-family: Nunito;
}

/*Button Font(Fonte dos botões)*/
.buttonfont {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

/*Filter Font(Fonte dos filtros)*/
.filterfont {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

/*Filter Font(h4)*/
h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
}

/*found item(Fonte da escola achada)*/
/* h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
} */


@media screen and (max-width: 767px) {
    /*Home*/

    nav {
        top: 0;
        width: 40px;
        height: 80px;
        position: fixed;
        right: 10%;
    }

    #header {
        background-color: var(--green);
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;     
        height: auto;
        margin: 5% 5%;
    }

    .logo {
        padding: 10% 5%;;
    }

    .header-info {
        width: 70%;
        margin-left: 5%;
        padding-bottom: 10%; 
    }

    .header-info > h1 {
        align-self: center;
        margin-left: 6%;
        color: white;
    }

    .cta1 {
        background-color: var(--canary);    
        align-self: center;
        border-radius: 20px;
        margin-top: 10%;
        margin-left: 6%;
        text-align: center;
        padding: 5% 15%;
        font-size: 1em;
        color: white;
        border: none;
    }

    .cta1 > a {
        border: 1px solid red;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 130%;
    }

    #mainFeature h2 {
        color: #3974D4;
        font-size: 1em;
        margin-bottom: 7%;
        text-align: center;
    }

    .feature-icon {
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 5%;
    }

    .feature-text {
        width: 50%;
        margin: auto;
        margin-bottom: 5%;
        text-align: center;
    }

    #carrousel {
        background-color: var(--soft-grey);
        padding: 5%;
    }

    #carrousel h2 {
        width: 50%;
        margin: auto;
        margin-bottom: 3%;
    }

    #carrousel h4 {
        margin: auto;
    }

    #benefits {
        padding: 5%;
    }

    #benefits h2 {
        margin: 3% 0;
        text-align: center;
        color: var(--blue);
    }

    .benefits-list {
        list-style-type: none;
    }

    .benefits-item {
        text-align: center;
        margin-bottom: 5%;
        font-weight: 300;
        font-size: 0.9em;
        font-family: Nunito;
    }

    #calltoaction {
        margin-bottom: 5%;
    }

    .buttons-flex {
        display: flex;
        justify-content: space-around;
    }
    
    .button-link {
        width: 40%;
        align-self: center;
    }

    .button-enter {
        background-color: var(--canary);    
        align-self: center;
        border-radius: 20px;
        text-align: center;
        padding: 7% 15%;
        font-size: 1em;
        color: white;
        border: none;
    }

    .button-search {
        background-color: var(--blue);    
        align-self: center;
        border-radius: 20px;
        text-align: center;
        padding: 7% 15%;
        font-size: 1em;
        color: white;
        border: none;
    }

    #footer {
        background-color: var(--soft-grey);
        height: 300px;
    }

    /*Pré-cadastro*/

    #header-pre-cadastro {    
        height: auto;
        margin: 5% 5%;
    }

    .header-pre-cadastro-content h1 {
        color: var(--blue);
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .pre-cadastro-buttons {
        display: flex;
        flex-direction: column;
    }

    .pre-cadastro-usuario {
        background-color: var(--blue);
        border: none;
        border-radius: 40px;
        color: white;
        padding: 5% 30%;
        margin-bottom: 5%;
    }

    .pre-cadastro-escola {
        background-color: var(--green);
        border: none;
        border-radius: 40px;
        color: white;
        padding: 5%;
    }

    .pre-cadastro-buttons a {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        color: var(--blue);
    }

    /* Cadastro Usuário */

    #header-cadastro-usuario {
        height: auto;
        margin: 5% 5%;
    }

    #header-cadastro-usuario h2 {
        color: var(--blue);
        font-size: 1em;
    }

    #header-cadastro-usuario p {
        color: var(--soft-grey);
    }

    #cadastro-usuario-form p {
        color: var(--soft-grey);
    }

    .data-cadastro-usuario {
        display: flex;
        flex-direction: row;
    }

    .data-cadastro-usuario input {
        width: 15%;
        margin-right: 5%;
    }

    .data-cadastro-usuario input:last-child {
        width: 30%;
    }

    .direitos {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 13px;
        color: var(--soft-grey);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .direitos input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
    
    .direitos input:checked ~ .checkmark {
        background-color: var(--canary);
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .direitos input:checked ~ .checkmark:after {
        display: block;
    }

    .direitos .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #cadastro-usuario-form button {
        background-color: var(--canary);    
        align-self: center;
        border-radius: 40px;
        text-align: center;
        padding: 3% 15%;
        font-size: 1em;
        color: white;
        border: none;
        margin-bottom: 5%;
    }

    /* Cadastro Escola */

    #header-cadastro-escola {
        height: auto;
        margin: 5% 5%;
    }

    #header-cadastro-escola h2 {
        color: var(--blue);
        font-size: 1em;
    }

    #header-cadastro-escola p {
        color: var(--soft-grey);
    }

    #cadastro-escola-form p {
        color: var(--soft-grey);
    }

    .data-cadastro-escola {
        display: flex;
        flex-direction: row;
    }

    .data-cadastro-escola input {
        width: 15%;
        margin-right: 5%;
    }

    .data-cadastro-escola input:last-child {
        width: 30%;
    }

    .direitos {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 13px;
        color: var(--soft-grey);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .direitos input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
    
    .direitos input:checked ~ .checkmark {
        background-color: var(--canary);
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .direitos input:checked ~ .checkmark:after {
        display: block;
    }

    .direitos .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #cadastro-escola-form label {
        font-family: Nunito;
        font-size: 13px;
        color: var(--soft-grey);
    }

    #cadastro-escola-form select {
        border-radius: 40px;
        margin-bottom: 3%;
    }

    #cadastro-escola-form button {
        background-color: var(--canary);    
        align-self: center;
        border-radius: 40px;
        text-align: center;
        padding: 3% 15%;
        font-size: 1em;
        color: white;
        border: none;
        margin-bottom: 5%;
    }

    /*Pré-cadastro*/

    #header-cadastro-finalizado {    
        height: auto;
        margin: 5% 5%;
    }

    .header-cadastro-finalizado-content h2 {
        color: var(--blue);
        margin-bottom: 3%;
        font-size: 2em;
        font-weight: 300;
        width: 70%;
        line-height: 130%;
    }
    
    .header-cadastro-finalizado-content p {
        color: var(--soft-grey);
        margin-bottom: 3%;
    }

    .cadastro-finalizado-buttons {
        display: flex;
        flex-direction: column;
    }

    .busca {
        background-color: var(--blue);
        border: none;
        border-radius: 40px;
        color: white;
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 3% 10%;
        display: block;
    }

    .header-cadastro-finalizado-content a {
        margin-top: 5%;
        margin-bottom: 5%;
        color: var(--blue);
        display: block;
    }

    /*Login*/

    #header-login {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;     
        height: auto;
        margin: 5% 5%;
    }

    .header-login-info {
        padding-bottom: 10%; 
    }

    .header-login-info > h1 {
        align-self: center;
        color: var(--blue);
        padding: 0 5%;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }

    .form input {
        border: 1px solid var(--soft-grey);
        border-radius: 40px;
        padding: 2% 5%;
        margin-bottom: 5%;
    }

    .login-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7%;
    }

    .login-buttons button {
        background-color: var(--canary);    
        align-self: center;
        border-radius: 20px;
        text-align: center;
        padding: 3% 15%;
        font-size: 1em;
        color: white;
        border: none;
        margin-left: 10%;
    }

    .login-buttons a {
        margin-right: 15%;
        text-decoration: none;
        color: var(--blue);
    }

    .login-social {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }

    .login-social button {
        border: 1px solid var(--soft-grey);
        border-radius: 40px;
        background-color: white;
        padding: 2% 0;
        color: var(--soft-grey);
        margin-bottom: 5%;
    }

    .login-social a {
        text-align: center;
        margin-bottom: 5%;
        color: var(--blue);
    }

    /* Busca */

    .busca-block {
        margin-bottom: 5%;
    }

    .busca-label {
        display: flex;
        flex-direction: row;
    }

    .busca-label > div {
        height: 20px;
        width: 20px;
        background-color: red;
    }

    .busca-label-text {
        color: var(--blue);
        font-size: 1em;
        margin-left: 5%;
    }
    
    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .button-filter {
        padding: 3% 5%;
        background-color: var(--hard-grey);
        color: white;
        border-radius: 40px;
        margin-right: 2%;
        margin-bottom: 1%;
    }

}

.container {
    width: 80%;
    margin: auto;
}